
$bg-color: black;
$text-color: white;
$link-color: orange;
$link-hover-color: red;


body {
  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $link-color;
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease;

  &:hover {
    color: $link-hover-color;
    transform: scale(1.2);
  }
}

h1{
  text-align: center;
}

